<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">         
          <strong>Student : Zbyněk Phoibos </strong><span class="badge badge-danger">Marketing</span>
          <div class="card-header-actions">
            <!-- <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
            <button type="button" (click)="goBack()" class="btn btn-sm btn-warning"><i class="fa fa-backward"></i> Back</button>
          </div>
        </div>
        <div class="card-body">        

          <div class="col-sm-12">
            <div class="card">
              <div class="card-header" (click)="isCollapsed = !isCollapsed">
                <strong>Marketing</strong>   
                <div class="card-header-actions">
                  <button type="submit"   class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Modify</button>
                  <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
                </div>             
              </div>
              <div class="card-body" [collapse]="isCollapsed">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">   
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="date-input">Date</label>
                    <div class="col-md-9">
                      <input class="form-control" id="date-input" type="date"  name="date-input" placeholder="date">
                      <span class="help-block"></span>
                    </div>
                  </div>             
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Candidate</label>
                    <div class="col-md-9">
                      <select id="select1" name="select1" class="form-control">
                        <option value="0">Select Candidate</option>
                        <option value="1">Candidate #1</option>
                        <option value="2">Candidate #2</option>
                        <option value="3">Candidate #3</option>
                      </select>
                    </div>
                  </div>           
                  
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Registered</label>
                    <div class="col-md-9 col-form-label">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                        <label class="form-check-label" for="checkbox1">
                          Career Builder
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1" id="checkbox2">
                        <label class="form-check-label" for="checkbox2">
                          Zip Recruiter
                        </label>
                      </div>
                      <div class="form-check checkbox">
                        <input class="form-check-input" type="checkbox" value="option1" id="checkbox3">
                        <label class="form-check-label" for="checkbox3">
                          Monster
                        </label>
                      </div>
                      <div class="form-check checkbox">
                          <input class="form-check-input" type="checkbox" value="option1" id="checkbox4">
                          <label class="form-check-label" for="checkbox4">
                              Indeed
                          </label>
                        </div>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label class="col-md-3 col-form-label">Inline Checkboxes</label>
                    <div class="col-md-9 col-form-label">
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                        <label class="form-check-label" for="inline-checkbox1">One</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                        <label class="form-check-label" for="inline-checkbox2">Two</label>
                      </div>
                      <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                        <label class="form-check-label" for="inline-checkbox3">Three</label>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="file-input">Select Latest Resume</label>
                    <div class="col-md-9">
                      <input type="file" id="file-input" name="file-input">
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>
                    <div class="col-md-9">
                      <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                    </div>
                  </div> -->
                </form>
              </div>
            </div>
          </div> 

          <div class="col-sm-12">
            <div class="card">
              <div class="card-header" (click)="isInterviewCollapsed = !isInterviewCollapsed">
                <strong>Interview</strong> 
                <div class="card-header-actions">
                  <button type="submit" disabled   class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Modify</button>
                  <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
                </div>                
              </div>
              <div class="card-body" [collapse]="isInterviewCollapsed">
                No Data Found
              </div>
            </div>
          </div> 

          <div class="col-sm-12">
            <div class="card">
              <div class="card-header" (click)="isSupportCollapsed = !isSupportCollapsed">
                <strong>Support</strong>  
                <div class="card-header-actions">
                  <button type="submit" disabled   class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Modify</button>
                  <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
                </div>               
              </div>
              <div class="card-body" [collapse]="isSupportCollapsed">
                No Data Found
              </div>
            </div>
          </div> 



        </div>
        <!-- <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div> -->
      </div>
       
    </div>
    
  </div><!--/.row-->